body {
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(/Fonts/OpenSans-Regular.ttf);
}

* {
    box-sizing: border-box;
}

/* Шапка сайта */
.header-section {
    padding-bottom: 2px;
}

.header-pos {
    position: relative;
}

.header-logo {
    order: 1;
}

.logo-block {
    display: block;
    height: 50px;
    border-bottom: none;
}

.logo-img {
    min-height: 50px;
    width: auto;
    margin-top: -20px;
}

.header {
    color: #000;
    height: 144px;
    padding-bottom: 38px;
}

.navv {
    margin-left: 50px;
}

.nav__item {
    text-decoration: none;
    list-style-type: none;  
}

.nav__list {
    margin: 0 1px 0 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.nav__item {
    margin: 0 24px;
}

.nav__link {
    display: block;
    padding: 9px 60px;
    transition: background-color 0.2s ease-in-out;
    text-decoration: none;
    color: #000;
}

.nav__link:hover {
    color: #025fff;
}

.nav__list .nav__item-img {
    display: block;
    margin: 0 auto;
    padding: 5px;
}

.cart {
    border: none;
    margin-top: -40px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: linear-gradient(90deg, #FF0000, #6E0C0C);
    transition: 0.1s;
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Увеличиваем кнопку при наведении на нее */
.cart:hover {
    transform: scale(1.1);
}

/* Стилизуем счетчик товаров */
.cart__num {
    position: absolute;
    background-color: #0F3EE4;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    top: -5px;
    right: -5px;
}

.nav-1-link {
    display: flex;
    justify-content: space-between;
    padding-top: 6px;
    padding-bottom: 2px;
    margin-left: 100px;
    border-bottom: none;
    border-radius: 1px;
    text-decoration: none;
    transition: 250ms linear all;
}

.nav-1-link-text:hover {
    background-color: orange;
    border-radius: 6px;
    color: #000;
    font-weight: 600;
}

.nav-1-link-text {
    display: flex;
    padding: 5px 7px 7px;
    color: #FFF;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    transition: 250ms linear all;
    align-items: center;
}

.header_section {
    background-color: #0F3EE4;
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.nav-list-1 {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 14px auto 0;
    padding: 0 0px 0 0;
}