.subpage_nav {
    margin-top: -2px;
    margin-left: 60px;
}

.breadcrumb-nav {
    list-style: none;
    padding: 0;
    margin: 0 0 0.75rem;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.breadcrumb-nav li:first-child {
    padding-left: 0;
    background: none;
}

.breadcrumb-nav li {
    font-weight: 500;
    margin-left: 20px;
    font-size: 15px;
    background: url("../img/arrow.svg") no-repeat 0.25rem 0.125rem/0.375rem;
    padding-left: 2rem;
    display: inline;
}

a.last__nav {
    pointer-events: none;
    /* ссылка некликабельная */
    cursor: default;
    /* установка курсора в виде стрелки(по умолчанию) */
    color: #808080;
    font-weight: 600;
}

.breadcrumb-nav a {
    color: #000;
}
/* Меню с ссылками */


/* Основной раздел с контентом */
.main-section {
    margin-top: 80px;
}

.main__authorisation-title {
    margin-left: 70px;
    margin-top: 36px;
    font-weight: 700;
}

.main__authorisation-subtitle {
    margin-left: 70px;
    margin-top: 29px;
}

.main__reg {
    color: #0056B3;
}

.main__authorisation-login {
    margin-left: 70px;
    margin-top: 29px;
}

.password {
    margin-top: 29px;
}

.login-input {
    width: 333px;
    height: 32px;
    border-radius: 5px;
    padding-left: 10px;
}

.main__authorisation-button {
    margin-top: 34px;
    border-radius: 5px;
    width: 180px;
    height: 38px;
    background-color: #0056B3;
    border: none;
    color: #FFF;
    font-weight: 600;
}

.main__authorisation-button:hover {
    background-color: #3a99ff;
    color: #000;
}

.message {
    margin-top: 20px;
    font-size: 17px;
}